body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=tel], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

form {
  display: inline-block;
  width: 40%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

div.banner {
  background: #0489aa;
  color: white;
  font-size: 48px;
}
p {
  display: inline-block;
  text-align: left;
  margin-right: 10px;
}
li {
  text-align: left;
}

button {
  float: right;
  margin-right: .5em;
  position: relative;
}

div.main-section {
  padding: 2em;
}

/* bootstrap overrides */
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited, .btn-primary:focus {
  background-color: #0489aa !important;
  border-color: #0489aa !important;
}
/* mobile specific properties */
@media only screen and (max-width: 768px) {
  form {
    width: 80%;
  }
}